# ===============================
# OS & Misc
# ===============================
*.log
*.tmp
*.swp
.DS_Store

# ===============================
# IDE / Editor
# ===============================
.idea/
*.iml
.vscode/

# ===============================
# Flutter / Dart
# ===============================
.dart_tool/
.packages
.pub-cache/
.pub/
build/

.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart
coverage/

# ===============================
# Android
# ===============================
android/.gradle/
android/app/build/

# 🔥 Firebase config (SENSITIVE)
android/app/google-services.json

# 🔥 Keystore (VERY IMPORTANT)
android/key.properties
*.jks
*.keystore

# ===============================
# iOS
# ===============================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# 🔥 Firebase iOS config
ios/Runner/GoogleService-Info.plist

# ===============================
# Env / Secrets (IMPORTANT)
# ===============================
.env
.env.*